@model ProfileIndexViewModel

<div>
    <h1>Update profile</h1>

    <form asp-action="Update" method="post">
        <label asp-for="Name">Username:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

        <button type="submit">Save</button>
    </form>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

    <form asp-action="ProfileImage" method="post" enctype="multipart/form-data">
        <label>Upload profile picture:</label>
        <input asp-for="ProfileImageUrl" type="file" />
        <button type="submit">Upload</button>
    </form>

    @if (!string.IsNullOrEmpty(Model.ProfileImageUrl))
    {
        <div>
            <img src="@Model.ProfileImageUrl" alt="Profile Image" width="200" />
        </div>
    }
    else
    {
        <p>No profile image uploaded yet.</p>
    }

</div>